/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
}

:root {
    scroll-behavior: smooth;
}

/* global */
/* var */
:root {
    --brown: #946621;
    --font: 'Alegreya Sans SC', sans-serif;
    --font-header: 'Amatic SC', cursive;
}
/* var */
/* arrow up page */
.arrow-up {
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 5555555555555555;
    border: var(--brown) 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    opacity: 0;
}

.arrow-up:hover {
    background-color: rgb(212, 210, 210);
    border: transparent 1px solid;
}
.arrow-up i {
    color: var(--brown);
    cursor: pointer;
    margin-top: 6px;
}

/* arrow up page */
/* slider */
.container-slider {
    position: sticky;
    top: 30%;
    z-index: 55555;
}

#right-slide {
    background-color: #ffffff;
    width: 0px;
    height: 100px;
    position: sticky;
    top: 30%;
    left: 0;
    float: left;
    z-index: 555555;
    transition: all .2s;
    filter: drop-shadow(white 1px 1px 3px);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

#right-slide .btn {
    background-color: transparent;
    position: absolute;
    left: 20%;
    top: 5%;
    color: var(--brown);
    border: solid 1px var(--brown);
    display: none;
    transition: all .5s;
}

#right-slide .btn:hover {
    background-color: var(--brown);
    color: white;
}

#gearicon {
    background-color: white;
    width: 22px;
    height: 30px;
    margin-top: 33px;
    float: left;
    transition: all .2s;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 50%;
}
.fa-gear {
    margin-top: 7px;
}
.animation-gear {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);

    }

}
#colors-slide {
    position: absolute;
    top: 60%;
    left: 15%;
    display: none;

}
.red {
    width: 30px;
    height: 20px;
    border-radius: 10%;
    background-color: red;
    filter: drop-shadow(rgb(185, 139, 139) 1px 1px);
    cursor: pointer;
}

.teal {
    width: 30px;
    height: 20px;
    border-radius: 10%;
    background-color: teal;
    filter: drop-shadow(rgb(142, 191, 191) 1px 1px);
    cursor: pointer;
}

.tomato {
    width: 30px;
    height: 20px;
    border-radius: 10%;
    background-color: tomato;
    filter: drop-shadow(rgb(183, 123, 113) 1px 1px);
    cursor: pointer;
}

.black {
    width: 30px;
    height: 20px;
    border-radius: 10%;
    background-color: black;
    filter: drop-shadow(rgb(30, 29, 29) 1px 1px);
    cursor: pointer;
}

/* slider */
/* loading spiner */
#loading{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5555555555555555555555555555555555555555555555555555555878484848;
    background-color: var(--brown);
    display: flex;
}


.loader {
    position: relative;
    border: 50px solid;
    border-color: #fff  transparent #fff transparent;
    animation : rotate 2s linear infinite;
  }
  .loader:before,
  .loader:after {
    content:"";
    display: block;
    border: 50px solid transparent;
    border-left-color: #fff;
    position: absolute;
    left: -50px;
    top: -50px;
    animation: prix 1s infinite ease-in;
    transform-origin: 0% 100%;
  }
  .loader:before {
    border-color: transparent #fff transparent transparent;
    transform-origin: 100% 0%;
    animation-delay: 0.5s;
  }
  @keyframes rotate {
    100% {transform: rotate(360deg)}
  }
  @keyframes prix {
    20% , 80% {transform: rotate(0)}
    50% {transform: rotate(-90deg)}
  }

/* loading spiner */
/* nav bar */
.img-logo {
    width: 40px;
    margin-bottom: 18PX;
    margin-right: 5PX;
}

ul {
    position: relative;
    top: 8px;
}

.bakery-font {
    font-family: var(--font);
    font-weight: 900;
    font-size: 2.3rem;
    position: relative;
    bottom: 0px;
}

#nav-bar .nav-link:hover {
    color: var(--brown) !important;
}


.underline-nav {
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 8px;
    width: 30%;
    height: 2px;
    background-color: var(--brown);
    transition: all .5s;
    animation: underline-nav .8s;
}

.underline-nav-home {
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 8px;
    width: 30%;
    height: 2px;
    background-color: var(--brown);
    transition: all .5s;
    animation: underline-nav .8s;
}

.nav-item:hover .underline-nav,
.nav-item:hover .underline-nav-home {
    width: 58%;
}

@keyframes underline-nav {
    0% {
        width: 30%;
    }

    50% {
        width: 58%;
    }

    100% {
        width: 30%;
    }

}
/* nav bar */
/* home */
.head-welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--font);

}
.background-head {
    background-image: url(img/Bagels/imggallery2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.head-btn1 {
    background-color: var(--brown);
    color: white;
    border: solid 2px transparent;
    font-size: 1rem;
    transition: all .5s;
}

.head-btn1:hover {
    background-color: white;
}

.head-btn2 {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    font-size: 1rem;
    transition: all .5s;
}

.head-btn2:hover {
    background-color: white;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

/* home */
/* dot animation */
.dot-animation {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.dot-animation p {
    width: 30px;
    height: 45px;
    border-radius: 40%;
    border: solid 2px white;
    background-color: transparent;
}

.dot-animation p span {
    position: absolute;
    top: 10%;
    left: 35%;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: dot-animation 1s 1s infinite;
    opacity: 1;
}

@keyframes dot-animation {
    0% {
        top: 10%;
        opacity: 1;
    }

    20% {
        top: 15.5%;
        opacity: .9;
    }

    30% {
        top: 21%;
        opacity: .8;
    }

    40% {
        top: 26.5%;
        opacity: .7;
    }

    50% {
        top: 31%;
        opacity: .6;
    }

    60% {
        top: 36.5%;
        opacity: .5;
    }

    70% {
        top: 41%;
        opacity: .4;
    }

    80% {
        top: 46.5%;
        opacity: .3;
    }

    90% {
        top: 51%;
        opacity: .2;
    }

    100% {
        top: 55%;
        opacity: 0;
    }

}

/* dot animation */
/* about */
#about h3,
#about p,
#about span {
    font-family: var(--font);
}

.border-icon-about {
    border: solid 1px rgb(211, 207, 207);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#about i {
    text-align: center;
    margin-left: 30% !important;
    margin-top: 30% !important;
    color: var(--brown);
}

#about .fa-users {
    margin-left: 25% !important;
    margin-top: 25% !important;
}

.center-about-height {
    height: 500px;
}

.questionmark {
    color: var(--brown);
    margin-left: 4px;
}

/* about */
/* offers */
#offer {
    background-color: #f8f8f8;
    margin-top: 100px;
    padding-bottom: 100px;
}

#offer * {
    font-family: var(--font);

}

#offer h2 {
    padding-top: 50px;
    font-size: 55px;
    font-family: var(--font-header);
}

#offer h2 span {
    color: var(--brown);
    font-size: 70px;
}

.color-price {
    color: var(--brown);
}


.w-offers {
    width: 80%;
}


.offers-scale {
    transition: all .3s;

}

.offers-scale:hover {
    transform: scale(1.02);
    transform: rotateX('180');

}
/* offers */
/* gallery */
.nav-pills .nav-link {
    color: black;
}
.nav-pills .nav-link.active {
    color: white;
    background-color: var(--brown)
}
#gallery span,
#gallery button {
    font-family: var(--font);
}

#gallery h2 {
    padding-top: 50px;
    font-size: 55px;
    font-family: var(--font-header);
}

#gallery h2 span {
    color: var(--brown);
    font-size: 70px;
}

.height-gallery-img {
    height: 272px;
    width: 405px;

}

.layer-gallery-img {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 50%;
    transition: all .3s;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.icon-zoom-gallery {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 4rem;
    color: var(--brown);
    cursor: pointer;
}

.div-img-hover:hover .icon-zoom-gallery {
    opacity: 1;
}

.div-img-hover {
    overflow: hidden;
}

.div-img-hover img {
    transition: all .5s;

}

.div-img-hover:hover img {
    transform: scale(1.1);
}

.div-img-hover:hover .layer-gallery-img {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.171);
    top: 50%;
    opacity: 1;
}

/* gallery */

/* gallety modal */
#gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5555555555;
    background-color: rgba(0, 0, 0, 0.788);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}

#inner-modal {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    height: 700px;
    background-size: cover;
    cursor: pointer;
}

/* gallety modal */
/* location map */
iframe {
    width: 100%;
    height: 40vh;
}

.map {
    text-align: center;
}

/* location map */
/* contacot us */
#contact {
    background-color: #f8f8f8;
    margin-top: 100px;
    padding-bottom: 40px;
}

#contact p,
#contact h3 {
    font-family: var(--font);
}

#contact i {
    font-size: 50px;
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 10px;
    color: var(--brown);
}

#contact .bg-locations {
    background-color: rgb(236, 236, 235);
}


#contact h2 {
    padding-top: 50px;
    font-size: 55px;
    font-family: var(--font-header);
}

#contact h2 span {
    color: var(--brown);
    font-size: 70px;
}

form {
    background-color: #f8f8f8;
    padding-bottom: 50px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--brown);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0)
}

.sendmessage-btn {
    background-color: var(--brown);
    color: white;
    border: solid 2px transparent;
    font-size: 1rem;
    transition: all .5s;

}

.sendmessage-btn:hover {
    background-color: white;
    border: solid 1px var(--brown);
    color: var(--brown);
}

#messagesent {
    display: none;
}

.bg-sent-success {
    background-color: var(--brown);
}

.bg-sent-success p {
    font-size: 20px;
}

.bg-sent-success p span {
    color: #1058f2;
    cursor: pointer;
}

/* contacot us */
/* contacot us  modal */
.modal-title span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--brown);
    border-radius: 50%;
}
.modal-btn {
    background-color: var(--brown);
    color: white;
    border: solid 2px transparent;
    font-size: 1rem;
    transition: all .5s;

}
.modal-btn:hover {
    background-color: white;
    border: solid 1px var(--brown);
    color: var(--brown);
}

.modal-body p {
    font-size: 13px;
}

.modal {
    z-index: 555555555555555555555555555555555555555555;
}

/* contacot us  modal */
/* footer */
footer {
    position: relative;
    top: 25px;
}

footer span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #484540;
}

.bg-footer {
    background-color: #353330;
}

footer span {
    transition: all .5s;
    cursor: pointer;
}

footer span i {
    text-align: center;
    margin-top: 7px;
}

footer .facebook:hover {
    background-color: #3b5998;
}

footer .google:hover {
    background-color: #db3236;
}

footer .linkedin:hover {
    background-color: #0072b1;
}

footer .twitter:hover {
    background-color: #1D9BF0;
}

footer h2 {
    font-family: var(--font-header);
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 60px;
}

/* footer */